#imgContainer {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 40px;
}

#imageGrid {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top:10px;
  margin-bottom: 10px;
}
#imageGrid > div {
  padding: 20px;
}

#imageGrid * {
  margin-left: 10px;
  margin-right: 10px;
}

#imageGrid p {
  color: black;
  margin: 0px;
  font-weight: bold;
}

#arrow-1, #arrow-2 {
  height: 50px!important;
}
#admin {
  height: 100px;
}
#error_warning {
  height: 125px;
}
#logs {
  /* filter: invert(); */
  height: 75px;
}

#techStack * {
  margin-left: 0px;
  margin-right: 0px;
}
#techStack {
  padding: 15px;
}
#techStack select {
  width: 250px;
  background: transparent;
  border: 1px solid #0fbdbd;
  padding: 8px;
  padding-left: 10px;
  color: white;
  height: 40px;
}
#techStack option {
  color: black;
}
#techStack button {
  height: 40px;
  background: #0c9c9c;
  border: 0px;
  color: white;
  padding-left: 15px;
  padding-right: 15px;
}
#techStack select:focus {
  outline: none;
}
