<div class="container" id="imgContainer">
  <div class="row">
    <div class="col-12" id="imageGrid" >
      <div class="bg-white">
        <div class="d-flex justify-content-center align-items-center">
            <img id="admin" src="/assets/image/admin.png" />
            <img id="arrow-1" src="/assets/image/arrow.png" />
            <img id="logs" src="/assets/image/logs.png" />
            <img id="arrow-2" src="/assets/image/arrow.png" />
            <img id="error_warning" src="/assets/image/Error_Warning img.png" />
        </div>
        <br>
        <p class="text-center">Self Healing Platform helps in analyzing the logs and results in the best approach to resolve the issues.</p>
      </div>
    </div>
  </div>
</div>
<br>
<div class="container">
  <div class="row justify-content-center">
    <div id="techStack" class="bg-black d-flex">
      <select name="">
        <option value="">--- Choose a Tech Stack ---</option>
        <option value="hadoop">Hadoop</option>
        <option value="informatica">Informatica</option>
       </select>
     <<button type="button" routerLink="/uploadLogs">Proceed >></button>
    </div>

  </div>
</div>
