#heading {
  text-align: left;
  float:left;
  margin: 5%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: large;
  color:aliceblue;
}

#subHeading{
  padding-top: 20px;
  margin-top: 40px;
  text-align: left;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: large;
  color:aliceblue;
}

#userLogo{
  margin: 2%;
  text-align: justify;
  float: left;
}
#admin {
  background: transparent;
  height: 350px;
}

#techStack {
  text-align: left;
  margin:5%;
  float: left;
  padding: 15px;
}
#techStack select {
  width: 250px;
  background: transparent;
  border: 1px solid #0fbdbd;
  padding: 8px;
  padding-left: 10px;
  color: white;
  height: 40px;
}
#techStack option {
  color: black;
}
#techStack button {
  height: 40px;
  background: #0c9c9c;
  border: 0px;
  color: white;
  padding-left: 15px;
  padding-right: 15px;
}
#techStack select:focus {
  outline: none;
}
#techStack * {
  margin-left: 0px;
  margin-right: 0px;
}



































































