            <div class="container">
              <div class="row">
                <div class="col-12">
            <div id = "heading">
                <h1>Welcome to</h1>
                <h1>Self Healing Data Platform</h1>
            <p id="subHeading">
              Self Healing Data Platform enables us to analyze the logs <br>
              and results in the best possible way to resolve the issues <br>
              by providing remediations to the errors and warnings. <br>
            </p>
            <div id="techStack" class="bg-black d-flex">
                <select (change)="changeTechStack($event.target.value)">
                  <option value='' selected hidden>-- choose a tech stack --</option>
                  <option value="hadoop">Hadoop</option>
                  <option value="informatica">Informatica</option>
                 </select>
               <button type="button" (click)="saveTechStack()" *ngIf="techStack !== ''">Proceed >></button>
              </div>
          </div>
              <div id = "userLogo">
                  <img id="admin" src="/assets/image/Untitled.png" alt=""/>
              </div>
            </div>

            </div>
            </div>

