

nav {
  background: darkslategrey;
  height: var(--nav-bar-height);
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 512
}

#logo-deloitte {
  height: 65px;
  padding: 20px;
}

#logo {
  width:50px;
}
