<nav>
  <ul>
    <li [routerLink]="['/']" routerLinkActive="router-link-active"  class="logo">Self Healing Platform</li>
  </ul>
  <ul>
    <li [routerLink]="['/']" routerLinkActive="router-link-active" >Home</li>
    <li [routerLink]="['/uploadLogs']" routerLinkActive="router-link-active" >Upload logs</li>
    <li [routerLink]="['/logAnalyticsAndResolution']" routerLinkActive="router-link-active" >Log analytics and resolution</li>
  </ul>
  <ul>
    <img id="logo-deloitte" src="/assets/image/logo_deloitte.png" />
  </ul>
</nav>
