<nav class="navbar navbar-expand-lg navbar-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" [routerLink]="['/']" routerLinkActive="router-link-active" ><img src="/assets/image/logo.png" id="logo" /> Self Healing Data Platform</a>
    <ul class="navbar-nav mr-auto ml-auto mt-2 mt-lg-0">
      <li class="nav-item" [ngClass]="{'active': this.router.url === '/'}">
        <a class="nav-link" [routerLink]="['/']" routerLinkActive="router-link-active">Home</a>
      </li>
      <li class="nav-item" [ngClass]="{'active': this.router.url === '/uploadLogs'}">
        <a class="nav-link">Upload logs</a>
      </li>
      <li class="nav-item" [ngClass]="{'active': this.router.url === '/logAnalyticsAndResolution'}">
        <a class="nav-link">Log analytics and resolution</a>
      </li>
    </ul>
    <a class="navbar-brand" href="#">
      <img id="logo-deloitte" src="/assets/image/logo_deloitte.png" class="d-inline-block align-top" alt="">
    </a>
  </div>
</nav>
