<app-side-bar (chooseOption)="navigate($event)"></app-side-bar>
<div class="container-fluid" id="back">
  <div class="row no-gutters">
    <div class="col-12">
      <div class="container-fluid">
        <div *ngTemplateOutlet="(show === 'summary')?summaryTemplate:null"></div>
        <div *ngTemplateOutlet="(show === 'error')?errorsTempalte:null"></div>
        <div *ngTemplateOutlet="(show === 'download')?downloadTemplate:null"></div>
        <div *ngTemplateOutlet="(show === 'history')?historyTemplate:null"></div>
      </div>
    </div>
  </div>
</div>


<ng-template #summaryTemplate>
  <div class="row no-gutters">
      <div class="col-12 h-100">
          <div *ngIf="!showErrors">
            <h4><i class="mr-2 text-success fa fa-check-circle"></i> The log has been analyzed successfully!!</h4>
            <br>
            <br>
            <h5><i class="mr-2 mb-3 fas fa-file-import" id="icons"></i> Log file: <span class="font-weight-normal">{{logFile}}</span></h5>
            <h5><i class="mr-2 mb-3 fas far fa-clock" id="icons"></i> Time of execution: <span class="font-weight-normal">{{timeExec}}</span></h5>
            <h5><i class="mr-2 mb-3 fas fa-file-import" id="icons"></i> Output CSV:<span class="font-weight-normal"> {{outputCSVFile}}</span></h5>
            <div class="row justify-content-center" style="margin-top: 50px;">
              <div class="col-12">
                  <h4 class="text-center"><i class="fas fa-poll"></i> Statistics</h4>
              </div>
            </div>
            <div class="row justify-content-between mt-3">
              <div class="col-3 text-center">
                <h6>Error Count</h6>
                <h4>{{errorCnt}}</h4>
              </div>
              <div class="col-3 text-center">
                <h6>Warning Count</h6>
                <h4>{{warningCnt}}</h4>
              </div>
              <div class="col-3 text-center">
                <h6>Unique Error Count</h6>
                <h4>{{uniqueErrorCnt}}</h4>
              </div>
              <div class="col-3 text-center">
                <h6>Unique Warnings Count</h6>
                <h4>{{uniqueWarningCnt}}</h4>
              </div>
            </div>
            </div>
          </div>
      </div>
</ng-template>


<ng-template #errorsTempalte>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th></th>
        <th>Error</th>
        <th style="width: 140px;">Line Number</th>
        <th>Remediation</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let error of errors; let i = index" >
          <td>{{i}}</td>
          <td>
              <div class="form-check">
                <input ng-model="selected[i]" (change)="checked($event)" ng-checked="false" ng-value="false" class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="option1" aria-label="...">
              </div>
          </td>
          <td>{{error.Error_Summary}}</td>
          <td>{{error.Line_Numbers}}</td>
          <td>{{error.Remediation}}</td>
          <td></td>
      </tr>
    </tbody>
    <button class="btn btn-primary btn-sm mt-1 mr-1" (click)="status()">submit</button>
  </table>
</ng-template>

<ng-template #downloadTemplate>
  <div class="row no-gutters justify-content-center">
    <div class="col-12 d-flex justify-content-center flex-column">
      <label class="mb-3">Enter the name of the output file (<i>output.csv</i> by default)</label>
      <div class="form-row">
        <div class="input-group w-25">
          <input [(ngModel)]="downloadFileName" class="form-control" placeholder="Enter file name">
          <div class="input-group-append">
            <span class="input-group-text">.csv</span>
          </div>
        </div>
        <div class="form-group col-2 mb-0 ml-4">
          <input type="submit" class="btn btn-primary form-control" value="Download" (click)="downloadLog()">
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #historyTemplate>
  <table class="table striped">
    <thead>
      <tr>
        <th>Time</th>
        <th>Tech Stack</th>
        <th>File Name</th>
        <th>Download</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="history.length == 0">
        <td colspan="3">No Data found</td>
      </tr>
      <tr *ngFor="let item of history">
        <td>{{item.time}}</td>
        <td>{{item.stack}}</td>
        <td>{{item.file}}</td>
        <td (click)="downloadLogFromHistory(item.stack, item.file)"><i class="fas fa-download"></i></td>
      </tr>
    </tbody>
  </table>
</ng-template>
