#main {
  height: calc(100vh - var(--nav-bar-height));
  max-height: calc(100vh - var(--nav-bar-height));
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
}

.border-black {
  border: solid 1.5px black;
}
.col-outer{
  padding: 10px
}

.col-inner .btn {
  margin-top: 10px;
  margin-bottom: 10px;
}

.fs-32{
  font-size: 32px;
}
.summary .row>div{
  overflow-wrap:break-word;
}

#back {
  padding-left: var(--side-bar-width);
  position: fixed;
  background: rgb(230,230,230);
  height: 100%;
  padding-right: 0px;
  width: 100vw;
}
#back>.row>div{
  height: calc(100vh - var(--nav-bar-height));
  padding: 10px;
  overflow-y: scroll;
}
#back>.row>div>div{
  min-height: 1px;
  background: white;
  box-shadow: rgba(0,0,0,0.3) 0px 0px 5px;
  padding:25px
}

.table thead tr{
  font-size:  13px ;
}
.table tbody{
  font-size:  13px ;
}
.table td,.table th{
  padding: 0.35rem;
}
i.fas:hover{
  cursor: pointer;
}
