/* You can add global styles to this file, and also import other style files */

/* Global styles */
:root {
  --nav-bar-height: 65px;
  --nav-bar-color: #0e333b;
  --font-family: sans-serif;
  --font-color: white;
  --color-grey: #b8b7b7;
  --side-bar-width: 250px;

}

html, body {
  margin: 0px;
  min-height: 100vh;
  font-family: var(--font-family);
  color: var(--font-color);
}

/*
  Utilities
*/
.bg-white {
  background: white!important;
}
.bg-black {
  background: black!important;
}
.bg-grey {
  background: var(--color-grey);
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}
